@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');



:root {
    --color-main: #B11116;
}

.menu {
    background-color: #F1F1F1;
}
.menu .logo img {
    max-width: 100%;
    max-height: 100%;
}

.holine-search-header {
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
}

.holine-search-header .form-search {
    position: relative;
    width: calc(100% - 270px);
}

.holine-search-header .form-search input {
    width: 100%;
    height: 40px;
    background: #D2D3D5;
    border: none;
    border-radius: 5px;
    padding: 0 15px;
}

.holine-search-header .form-search .btn-search {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    outline: none;
    height: 30px;
}

.holine-search-header .form-search .btn-search img {
    background: #D2D3D5;
}

.holine-search-header .form-search .btn-search img:hover {
    transform: scale(1.2);
    transition: all 0.3s ease;
}

.holine-search-header .holine-header {
    width: 225px;
    font-size: 18px;
    justify-content: flex-end;
    display: flex;
}

.holine-search-header .holine-header .phone-number {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: var(--color-main);
}

.main-menu ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
}

.main-menu ul li {
    position: relative;
    font-size: 18px;
    display: inline-block;
}

.main-menu ul li a {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    position: relative;
    text-transform: uppercase;
    display: block;
    padding: 20px 15px;
    font-size: 16px;
    line-height: 21px;
    transition: all 0.3s ease-in-out;
}

.main-menu ul li ul {
    display: block;
    box-shadow: 0px 1px 3px 1px rgb(0 0 0 / 10%);
    position: absolute;
    min-width: 250px;
    top: 100%;
    z-index: 1000;
    margin: 0px;
    padding: 0px;
    background-color: #fff;
    opacity: 0;
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.17, 0.67, 0.59, 1.21), opacity 0.1s 0.1s;
    transition: transform 1s cubic-bezier(0.17, 0.67, 0.59, 1.21), opacity 0.1s 0.1s;
}

.main-menu ul li:hover>ul {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.main-menu ul li ul li {
    display: block;
    background: #fff;
    font-family: 'Roboto', sans-serif;
}

.main-menu ul li ul li:hover a {
    color: #fff;
    background: var(--color-main);
    transition: all 0.4s ease-in;
}

.main-menu ul li ul li:not(:last-child) {
    border-bottom: 1px solid #f5f5f5;
}

.main-menu ul li ul li a {
    padding: 8px 12px;
    text-transform: none;
    color: var(--color-main);
}
/*  slider main */

.slider-background__index img {
    width: 100%;
}

.pagination-banner__main {
    position: absolute;
    width: 100%;
    z-index: 2;
    text-align: center;
    left: 0;
    bottom: 15px;
    pointer-events: none;
}

.pagination-banner__main .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
}

.pagination-banner__main .swiper-pagination-bullet-active {
    background-color: var(--color-main);
}



/*  */


.cartegory-home-box {
    border-top: solid 8px var(--color-main);
    padding: 20px 25px;
    background-color: #fff;
}

/* .cartegory-home-box>p {
    font-size: 30px;
    color: var(--color-main);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 16px;

} */

.item-cate-home {
    margin-bottom: 24px;
}

.item-cate-home a img {
    width: 100%;
    max-height: 180px;
    overflow: hidden;
    border-radius: 24px;
    border: 2px solid var(--color-main);
}

.item-cate-home a h2 {

}

/*  banner between */

.home-between-banner img {
    width: 100%;
}
.home-between-banner .img-full {
    position: relative;
}

.home-between-banner__btn {
    position: absolute;
    bottom: 24px;
    right: 60px;
}

.home-between-banner__btn a {
    border-radius: 22px;
    padding: 10px 35px;
}

.home-between-banner__btn a:nth-child(1) {
    margin-right: 20px;
    color: white;
    background: linear-gradient(180deg, #FEE53D 0%, #E67501 100%);
}

.home-between-banner__btn a:nth-child(2) {
    color: #B11116;
    background: linear-gradient(184.07deg, #FFF 3.31%, #EEE 48.53%, #A8A8A8 96.68%);
}

/*  home product new */

.home-product-new__content {
    padding: 20px 25px;
}

.home-product-new .text-title h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    color: var(--color-main);
}

.home-product-new__items a img {
    width: 100%;
}

.home-product-new__items a p {
    font-family: 'Roboto', sans-serif;
    padding: 20px 0;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
}
/*  advantage */

.item-advantage {
    background-repeat: no-repeat;
    background-size: cover;

}

.item-advantage .content {
    width: 535px;
    display: inline-block;
}

.item-advantage:nth-child(2n+1) .content {
    margin-left: auto;
}
.item-advantage:nth-child(2n+1) {
    justify-content: end;
    background-position: right;
}

.item-advantage .content h4 {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.16em;
}

.item-advantage .content h3 {
    font-weight: bold;
    line-height: 35px;
}


.item-advantage .content p {
    margin-top: 14px;
    font-size: 16px;
    line-height: 22px;
}

.item-advantage:nth-child(2n+1) .link-box {
    text-align: right;
}

/* video slide */

.slider-video-product-home .item-videos .img a img {
    width: 100%;
    max-height: 180px;
}


.item-videos.active {
    left: 50%;
    transition: .3s;
    z-index: 100;
}

.formclosenotification {
    position: fixed;
    background-color: rgba(0, 0, 0, .4);
    z-index: 2;
    width: 100%;
    height: 100%;
    top:0;
    right: -100%;
    left: unset;
    transition: all 0.4s ease;
}
.formclosenotification.open {
    right: 0;
}


/* ----------- */

.advise-car-home .advise-car-home__text-title  {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    margin: 40px 0 16px;
}

.advise-car-home .name {
    text-decoration: underline;
}

.advise-car-home .advise-car-home__img-small .img {
    width: 180px;
}


/* bảo hiểm */ 


.insurrance-home .insurrance-home__text-title  {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    margin: 40px 0 16px;
}

.insurrance-home .name {
    text-decoration: underline;
}

.insurrance-home .insurrance-home__img-small .img {
    width: 180px;
    /* height: 68px; */
}

.insurrance-home__img-big .name {
    position: absolute;
    bottom: 20px;
    left: 0;
    color: #fff;
    padding: 0 20px;
}

/* item new box 1  */

.item-new-box-1 {
    background: white;
    border-radius: 3px;
    overflow: hidden;
}

.item-new-box-1 .date-news {
    border-radius: 3px;
    overflow: hidden;
    width: 58px;
    height: 58px;
    pointer-events: none;
    top: 0;
    left: 16px;
    color: white;
    background: #252525;
}

.item-new-box-1 .content {
    margin-left: 10px;
    padding: 5px;
    width: calc(100% - 58px);
}

 
.line-box-main {
    background: #B11116;
    height: 5px;
}
/* partenr */

.item-partner {
    height: 90px;
    cursor: pointer;
}

.item-partner:hover {
    box-shadow: 0px 1px 5px 1px rgb(0 0 0 / 10%);
}

/* footer  */



.footer__content .item-col:not(:last-child) {
    border-right: 1px dashed #CACACA;
}

.download-app .list-app {
    max-width: 100px;
}

.download-app .list-app a {
    margin-bottom: 12px;
}
.footer-list li:not(:last-child) {
    margin-bottom: 10px;
}

.footer .footer-list li a {
    font-size: 14px;
    color: #454545;
}
.footer .footer-list li a:hover {
    color: #B11116;
}

.footer__content-item .footer__content-icon img {
    max-width: 50px;
}

.footer__content-item .footer__content-icon img:hover {
    transform: scale(1.2);
    transition: all 0.3s ease;
}

.footer__bottom {
    padding: 15px;
    background-color: #252525;
    color: #f5f5f5;
}


/* slide-product-car */

.product-car .item-car .img a img {
    width: 100%;
    max-height: 180px;
}


.item-car.active {
    left: 50%;
    transition: .3s;
    z-index: 100;
}


/* fillter */

.filter-box .fillter-item {
    position: relative;
}

.filter-box .fillter-item select {
    width: 100%;
    height: 36px;
    background: #E6E7E9;
    border: solid 1px #E6E7E9;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    padding-left: 10px;
    padding-right: 30px;
}

.filter-box .fillter-item:after {
    content: "\f0dd";
    font-family: 'Fontawesome';
    color: #B11116;
    font-size: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-63%);
    right: 15px;
    pointer-events: none;
}

/* .product-details__navigation li:first-child::before {
    content: "\f015";
    font-family: 'FontAwesome';
    margin-right: 3px;
} */

.product-details__navigation li {
    position: relative;
}

.product-details__navigation li::after {
    content: "/";
    position: absolute;
    top:0;
    right: -16px;
    font-size: 18px;
}


.product-details__navigation li:last-child::after {
    content: " ";
    position: absolute
    ;
}

.items-rating .rating i {
    color: #FEE53D;
    cursor: pointer;
}

.nav-product .nav-link {
    color: #888;
}

.nav-product .nav-link.active,
.nav-product .nav-link:hover {
    color: #B11116;
}

.list-group {
    flex-direction: unset;
}

/* .tab-content .tab-pane.active{
    display: block !important;
}

.tab-content .tab-pane.fade.show {
    opacity: 1 !important;
} */

.s-content li {
    list-style: inherit;
    margin-bottom: 5px;
}

.s-content h2 {
    display: block;
    font-size: 18px;
    margin: 14px 0;
    font-weight: bold;
}
.s-content ul {
    list-style: initial;
    margin-left: 15px;
    margin-bottom: 10px;
}

.like-share a {
    position: relative;
    padding: 10px 30px;
    border-radius: 5px;
    color: #fff;
    background: #1877F2;
    border: solid 1px #f5f5f5;
    display: inline-block;
    font-size: 18px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.like-share a:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    color: #1877F2;
    background: #fff;
    border: solid 1px #1877F2;
    box-shadow: 0px 1px 5px 1px rgb(0 0 0 / 20%);
    transition: all 0.5s ease-in-out;
}

.comment .write-comment textarea {
    min-height: 40px;
    padding: 12px 8px;
    width: 100%;
    border: 1px solid #d3d6db;
    margin-top: 20px;
}

.line-box-img__product {
    height: 5px;
    background-color: #F5F5F5;
}


.slider-related-products .item-related-products .img a img {
    width: 100%;
    max-height: 180px;
}


.item-related-products.active {
    left: 50%;
    transition: .3s;
    z-index: 100;
}




/* tin  tức */

.news-banner .content {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.item-news .date-news {
    position: absolute;
    top: 0;
    left: 22px;
    width: 58px;
    height: 58px;
    background: #000;
    color: #fff;
    pointer-events: none;
}

.line-box-news {
    height: 5px;
    color: #f5f5f5;
}

.item-rating .rating-box {
    font-size: 0;
    line-height: 1;
    position: relative;
    white-space: nowrap;
    display: inline-block;
    margin: 0 auto;
    overflow: hidden;
    vertical-align: middle;
}
.small-star .item-rating .rating-box .star {
    font-size: 16px !important;
}
.item-rating .rating-box .star {
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    margin: 0.1rem;
    color: #b8b8b8;
    text-rendering: auto;
    font-size: 20px;
}
.item-rating .rating-box i {
    cursor: pointer;
}

#toc_container {
    background: #f3f3f3;
    border: 1px solid #eee;
    padding: 12px 10px;
    width: 100%;
    font-size: 16px;
    margin-bottom: 15px;
}
#toc_container .toc-header {
    font-size: 18px;
    position: relative;
}
#toc_container .toc-header .icon {
    display: inline-block;
    margin-right: 5px;
}
#toc_container .toc-header .toggle-content-toc {
    transition: all 0.3s ease-in-out;
    position: absolute;
    width: 27px;
    height: 27px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    cursor: pointer;
}

#toc_container .toc_list {
    display: none;
    margin-top: 10px;
    list-style: none;
}

#toc_container .toc_list.open {
    display: block;
}

#toc_container ul {
    counter-reset: section;
}

#toc_container ul li {
    color: #B11116;
}
#toc_container ul li:not(:last-child) {
    margin-bottom: 16px;
}
#toc_container ul li:hover {
    color: #B11116;
}

#toc_container ul li ul li {
    font-size: 14px;
    font-family: 'roboto';
}

#toc_container ul li ul {
    margin-left: 15px;
    padding-left: 25px;
    list-style: inherit;
}

#toc_container ul li ul li {
    list-style: disc;
}

#toc_container ul li:before {
    counter-increment: section;
    content: counters(section,".") ". ";
    font-family: 'roboto';
}

#toc_container .toc-header .toggle-content-toc.active {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
#toc_container .toc-header .toggle-content-toc {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: absolute;
    width: 27px;
    height: 27px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    cursor: pointer;
}

.toc_list li ul li {
    margin: 10px 0;
    font-size: 16px;
}

.formclose-news {
    position: fixed;
    background-color: rgba(0, 0, 0, .4);
    z-index: 100;
    width: 100%;
    height: 100%;
    top:0;
    right: -100%;
    left: unset;
    transition: all 0.4s ease;
}
.formclose-news.open {
    right: 0;
}

.title-side-bar__news span {
    border-bottom: 1px solid #b11116;
}

.item-news-sidebar .img {
    width: 120px;
}

.item-news-sidebar .content {
    width: calc(100% - 120px);
    padding-left: 12px;
}

.item-news-sidebar:not(:last-child) {
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: solid 1px #ebebeb;
}


/*  tuyển dụng */

.item-achievements .icon {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px dashed #B11116;
    box-sizing: border-box;
}

.item-achievements .icon .content-bg {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    padding: 15px;
    background: rgba(177, 17, 22, 0.1);
}

.item-achievements .content {
    width: calc(100% - 120px);
}

.recruit-list-item-arrow-title-left .recruit-item .name {
    position: relative;
}

.recruit-list-item-arrow-title-left .recruit-item .name:after {
    content: '';
    position: absolute;
    top: 13px;
    left: calc(100% + 10px);
    background-size: cover;
    background-repeat: no-repeat;
}

.recruit-list-item-arrow-title-left .recruit-item:nth-child(1) .name:after {
    width: 199px;
    height: 130px;
    background-image: url(../images/left-up.png);
}

.recruit-list-item-arrow-title-left .recruit-item:nth-child(2) .name:after {
    width: 120px;
    height: 30px;
    background-image: url(../images/left-down.png);
}

.recruit-list-item-arrow-title-left .recruit-item:nth-child(3) .name:after {
    width: 95px;
    height: 20px;
    background-image: url(../images/Vector\ 116.png);
}

.recruit-list-item-arrow-title-right .recruit-item .name::before {
    content: '';
    position: absolute;
    top: 13px;
    right: calc(100% + 10px);
    background-size: cover;
    background-repeat: no-repeat;
}

.recruit-list-item-arrow-title-right .recruit-item:nth-child(1) .name:before {
    width: 199px;
    height: 130px;
    background-image: url(../images/right-up.png);
}
.recruit-list-item-arrow-title-right .recruit-item:nth-child(2) .name::before {
    width: 120px;
    height: 30px;
    background-image: url(../images/right-down.png);
}

.recruit-list-item-arrow-title-right .recruit-item:nth-child(3) .name::before {
    width: 95px;
    height: 20px;
    background-image: url(../images/Vector\ 117.png);
}


.recruit-search-key input {
    background: #FFF;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    height: 46px;
    width: 100%;
}

.recruit-search-key button {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 16px;
}

.recruit-search-key button:hover svg {
    transform: scale(1.2);
}

.module-checkbox {
    display: block;
    position: relative;
    padding-top: 5px;
    padding-left: 30px;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.module-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.module-checkbox .checkmark {
    transition: all 0.2s ease-in-out;
    position: absolute;
    top: 0px;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: white;
    border: solid 1px #B11116;
}

.module-checkbox input:checked~.checkmark:after {
    display: block;
}
.module-checkbox .checkmark:after {
    left: 4px;
    top: 4px;
    width: 12px;
    height: 12px;
    background: #B11116;
}
.module-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.item-recruitments .icon {
    width: 20px;
}
.item-recruitments .icon i {
    color: #B11116;
}

.item-recruitments .content {
    width: calc(100% - 20px);
    padding-left: 6px;
}

.s-content p {
    margin-bottom: 10px;
    line-height: 24px;
}

.box-recruitment-sidebar {
    box-shadow: 0px 5px 15px 5px rgb(0 0 0 / 10%);
    top: 10px;
    border-top: solid 3px #B11116;
}

.box-recruitment-sidebar .item .icon {
    width: 20px;
}

.box-recruitment-sidebar .item .icon i {
    color: #B11116;
}

.box-recruitment-sidebar .item .content {
    width: calc(100% - 20px);
    padding-left: 6px;
}

.contact-form__accessary .inputbox input{
    width: 32%;
    min-height: 40px;
    margin: 10px 0;
    border: 1px solid #BEBEBE;
    flex-wrap: wrap;
}

.contact-form__accessary textarea {
    width: 100%;
    border: 1px solid #BEBEBE;
    min-height: 80px;
}

.list-item-contact .item .icon {
    width: 55px;
    position: relative;
}

.list-item-contact .item .content{
    width: calc(100% - 55px);
}

.list-item-contact .item .icon:after {
    content: '';
    position: absolute;
    right: 15px;
    top: 2px;
    width: 1px;
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
    height: 57px;
    background: #B11116;
}

.list-item-contact .item .icon i {
    font-size: 32px;
    color: var(--color-main);
}

.form-contact .short-content::after {
    content: '';
    position: absolute;
    width: 175px;
    height: 1px;
    background: #B11116;
    bottom: 0px;
    left: 50%;
    margin-left: -87.5px;
}
.form-contact {
    border: 1px solid #888;
}

.block-map .map iframe{
    height: 600px;
    width: 100%;
}

/*  form đăng ký trang phụ tùng */

.form-login {
    max-width: 520px;
    height: auto;
    background-color: #FFF;
    border: 1px solid #A8A8A8;
    position: fixed;
    z-index: 10;
    top: 50%;
    left: -100%;
    transform: translate(-50% , -50%);
    display: flex;
    margin: auto;
    border-radius: 10px;
    padding: 40px 24px;
}

.form-login.active {
    left: 50%;
    transition: .3s;
    z-index: 100;
}

.formclose__accessary {
    position: fixed;
    background-color: rgba(0, 0, 0, .4);
    z-index: 12;
    width: 100%;
    height: 100%;
    top:0;
    right: -100%;
    left: unset;
    transition: all 0.4s ease;
}
.formclose__accessary.open {
    right: 0;
}

.box-introduce-vision {
    background-image: url(../images/bg_visson.jpg);
    background-position: right bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.box-introduce-mission {
    background-image: url(../images/bg_mission.jpg);
    background-position: left bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.item-core-value .big-name:before, 
.item-core-value .big-name:after {
    content: '';
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: -9px;
    width: 10px;
    height: 10px;
}

.item-core-value .big-name:before {
    background-image: url(../images/left-tam-giac.png);
    left: 0;
}
.item-core-value .big-name:after {
    background-image: url(../images/right-tam-giac.png);
    right: 0;
}

.item-core-value .content {
    max-width: calc(100% - 20px);
    background: #F5F5F5;
}
.item-core-value:hover .content {
    background: white;
    box-shadow: 0px 15.0909px 37.7273px -5.65909px rgb(84 84 84 / 10%);
}


.box-item-development-history {
    content: "";
    padding-top: 120px;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center top;
    background-image: url(../images/Asset\ 1\ 1.png);
}
.box-item-development-history .swiper-container {
    position: relative;
}

.box-item-development-history .swiper-container:before {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: #ebebeb;
    top: 105.5px;
    left: 0;
    z-index: 0;
}
.box-item-development-history .swiper-slide:nth-child(2n) .item-year {
    background-image: url(https://utruck.tech5s.net/theme/frontend/images/icon_place_black.png);
}
.box-item-development-history .swiper-slide:nth-child(2n+1) .item-year {
    color: #B11116;
    background-image: url(https://utruck.tech5s.net/theme/frontend/images/icon_place_red.png);
}
.item-development-history .item-year {
    width: 72px;
    height: 82px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
    position: relative;
}

.box-item-development-history .swiper-slide:nth-child(2n+1) .item-year:after {
    background: #B11116;
}
.item-development-history .item-year:after {
    content: '';
    background: #252525;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    bottom: -30px;
    left: 50%;
    margin-left: -5px;
}

.s-content img {
    display: inline-block;
    max-width: 100%;
    margin: 10px 0;
    height: auto !important;
    object-fit: contain;
}
.small-uudai-banner {
    padding-top: 129% !important;
}
.list-tag-sale {
    border-bottom: solid 1px #ebebeb;
}
.list-tag-sale .item {
    position: relative;
    margin-bottom: -1px;
    z-index: 2;
}
.list-tag-sale .item input:checked~span {
    color: #B11116;
    border-bottom: solid 2px #B11116;
}
/* .list-tag-sale .item span::after {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    color: transparent;
    border-bottom: var(--color-main);
    border-bottom: transparent;

}
.list-tag-sale .item.active span {
    color: #b11116;
}
.list-tag-sale .item.active span::after{
    border-bottom: solid 2px #B11116;
} */
.list-tag-sale .item span {
    cursor: pointer;
    display: inline-block;
    padding: 3px 0px;
    transition: all 0.3s ease-in-out;
    border-bottom: solid 2px transparent;
}
.box-key-endow input {
    background: #FFF;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    height: 46px;
    width: 100%;
    padding-right: 131px;
}
.box-key-endow button {
    padding: 0px;
    position: absolute;
    width: 110px;
    height: 32px;
    top: 7px;
    right: 7px;
}
.item-news-endow {
    border: 1px solid #EBEBEB;
}
.item-news-endow .c-img {
    padding-top: 46%;
}


.form-login-sale select {
    width: 48%;
}


/*  đánh giá sao  */
/****** Style Star Rating Widget *****/
#rating{border:none;float:left;margin-bottom: 15px;}
#rating>input{display:none;}/*ẩn input radio - vì chúng ta đã có label là GUI*/
#rating>label:before{margin:5px;font-size:1.25em;font-family:FontAwesome;display:inline-block;content:"\f005";}/*1 ngôi sao*/
#rating>.half:before{content:"\f089";position:absolute;}/*0.5 ngôi sao*/
#rating>label{color:#ddd;float:right;}/*float:right để lật ngược các ngôi sao lại đúng theo thứ tự trong thực tế*/
/*thêm màu cho sao đã chọn và các ngôi sao phía trước*/
#rating>input:checked~label,
#rating:not(:checked)>label:hover, 
#rating:not(:checked)>label:hover~label{color:#FFD700;}
/* Hover vào các sao phía trước ngôi sao đã chọn*/
#rating>input:checked+label:hover,
#rating>input:checked~label:hover,
#rating>label:hover~input:checked~label,
#rating>input:checked~label:hover~label{color:#FFED85;}

